.full-bleed-wrapper {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

.full-bleed-wrapper > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1 / -1;

  > img {
    width: 100%;
    height: 100%;
  }
}
